html,body
{
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.fluid-container
{
    background: url("bay.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.back
{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.mod
{
    display: none;
    position: absolute;
    background: white;
    width: 1000px;
    height: 500px;
    z-index: 1;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.pic
{
    z-index: 2;
    position: relative;
    width: 600px;
    height: 100%;
    background: url("blue.png");
    float: left;
}

.login
{
    display: none;
    position: absolute;
    background: white;
    width: 1000px;
    height: 500px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.pic2
{
    z-index: 2;
    position: relative;
    width: 600px;
    height: 100%;
    background: url("blue.png");
    float: left;
}

.post, .key
{
    border: none;
    border-bottom: 2px solid #06EF8F;
    background: transparent;
    width: 300px;
    margin-left: 25px;
    margin-top: 60px;
    outline: none;
    height: 40px;
}

.post
{
    margin-top: 35px;
}

form
{
 z-index: 2;
 position: relative;
 width: 400px;
 height: 100%;
 float: right;
}

input
{
    border: none;
    border-bottom: 2px solid #06EF8F;
    background: transparent;
    width: 300px;
    margin: 15px;
    margin-left: 25px;
    outline: none;
    height: 40px;
}

.btn2
{
    margin-top: 1px;
    margin-left: 25px;
    border-radius: 10px;
    font-size: 2em;
    cursor: pointer;
    float: left;
    min-width: 150px;
    min-height: 50px;
    text-align: center;
    position: relative;
    background-color: #06EF8F;
}

.btn3
{
    margin-top: 35px;
    margin-left: 25px;
    border-radius: 10px;
    font-size: 2em;
    cursor: pointer;
    float: left;
    min-width: 150px;
    min-height: 50px;
    text-align: center;
    position: relative;
    background-color: #06EF8F;
}

#log
{
    position: relative;
    float: right;
    margin-top: 0px;
    margin-right: 72px;
    font-size: 2em;
    cursor: pointer;
}

#log:hover
{
    text-decoration: underline;
    text-decoration-color: #06EF8F;
}

#log2
{
    position: absolute;
    float: right;
    margin-top: 35px;
    font-size: 2em;
    cursor: pointer;
    float: left;
    left: 15%;
    top: 80%;
    transform: translate(-15%, -80%);
}

#log2:hover
{
    text-decoration: underline;
    text-decoration-color: #06EF8F;
}

#info
{
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    position: absolute;
    text-align: center;
    float: left;
    width: 200px;
}

.text3, .text4
{
    margin-top: 20px;
    font-weight: 700;
    margin-left: 25px;
}

#text1
{
    position: absolute;
    float: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 4em;
    color: white;
}

#text2
{
    position: absolute;
    float: left;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    font-size: 32px;
    color: white;
}

#btn1
{
    position: absolute;
    float: left;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -57%);
    font-size: 32px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    min-height: 50px;
    cursor: pointer;
}

.forgot
{
    position: absolute;
    width: 150px;
    float: right;
    margin-right: 25px;
    font-size: 1.1em;
    text-align: center;
    top: 69.5%;
    left: 80%;
    transform: translate(-80%, -69.5%);
    cursor: pointer;
}

ul
{
    position: relative;
    color: white;
    top: 98%;
    left: 5%;
    transform: translate(-5%, -98%);
}

#pro1, #pro2, #pro3
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 10px;
}


.modal-content
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 50%);
    min-height: 500px;
    min-width: 500px;
}

.modal-header
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    background-color: #06EF8F;
}

.modal-title
{
    text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 1239px)
{
    #text1 
    {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 929px)
{
    #text1
    {
        width: 100%;
        text-align: center;
    }
    #text2 
    {
        width: 100%;
        text-align: center;
    }
    .pic
    {
        visibility: hidden;
    }
    .pic2
    {
        visibility: hidden;
    }
    #log 
    {
        margin-right: 75px;
    }
    .mod
    {
        width: 400px;
        height: 500px;
    }
    #info
    {
        top: 98%;
        left: 32%;
        transform: translate(-32%, -98%);
        position: absolute;
        text-align: center;
        font-size: 16px;
    }
    form 
    {
        z-index: 2;
        position: absolute;
        width: 400px;
        height: 100%;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 25px;
    }
    .login
    {
        height: 500px;
        width: 400px;
    }
    .forgot
    {
        position: absolute;
    width: 150px;
    float: right;
    margin-right: 25px;
    font-size: 1.1em;
    text-align: center;
    top: 69.5%;
    left: 72%;
    transform: translate(-72%, -69.5%);
    cursor: pointer;
    }

}

@media screen and (max-width: 619px)
{
    #text1 
    {
        font-size: 3em;
    }
}

@media screen and (max-width: 464px)
{
    #text1 
    {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 425px)
{
    #text1
    {
        width: 100%;
        text-align: center;
        font-size: 2.5em;
    }
    #text2
    {
       width: 100%;
       font-size: 23.5px;
       text-align: center;
    }
    .text3
    {
        width: 100%;
        margin-left: 6.5px;
    }
    .text4
    {
        margin-left: 6.5px;
    }
    .mod
    {
        height: 500px;
        width: 100%;
        position: absolute;
      
    }
    .pic
    {
        visibility: hidden;
    }

    .pic
    {
        visibility: hidden;
    }
    #log 
    {
        margin-right: 120px;
    }
    #log2 
    {
        text-align: center;
        position: absolute;
        float: right;
        margin-top: 35px;
        font-size: 2em;
        cursor: pointer;
        float: left;
        left: 42%;
        top: 82%;
        transform: translate(-42%, -82%);
    }
    #info 
    {
        float: left;
        top: 99%;
        left: 16%;
        transform: translate(-16%, -99%);
        position: absolute;
        text-align: center;
        font-size: 1em;
        width: 250px;
    }
    form
    {
        width: 100%;
        margin-left: 58px;
    }
    input 
    {
        margin: 20px;
        margin-left: 6.5px;
    }
    .btn2
    {
        margin-top: none;
        margin-left: 10px;
    }
    .btn3
    {
        margin-left: 10px;
    }
    .registry
    {
        width:100%;
    }
    .login
    {
        width: 100%;
    }

    .post, .key
    {
        margin-left: 6.5px;
    }

    .forgot
    {
        position: absolute;
        width: 150px;
        float: right;
        font-size: 1.1em;
        text-align: center;
        top: 71.5%;
        left: 65%;
        transform: translate(-65%, -71.5%);
        cursor: pointer;
    }

}

@media screen and (max-width: 375px)
{
    #text1
    {
        width: 100%;
        font-size: 2.5em;
        text-align: center;
    }
    #text2
    {
       width: 100%;
       font-size: 23.5px;
       text-align: center; 
       text-align: center;
       position: absolute;
       float: left;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    .text3
    {
        width: 100%;
        margin-left: 6.5px;
    }
    .text4
    {
        margin-left: 6.5px;
    }
    .mod
    {
        height: 500px;
        width: 100%;
        position: absolute;
      
    }
    .pic
    {
        visibility: hidden;
    }

    .pic
    {
        visibility: hidden;
    }
    #log 
    {
        margin-right: 65px;
    }
    #log2 
    {
        text-align: center;
        position: absolute;
        float: right;
        margin-top: 35px;
        font-size: 2em;
        cursor: pointer;
        float: left;
        left: 40%;
        top: 82%;
        transform: translate(-40%, -82%);
    }
    #info 
    {
        float: left;
        top: 99%;
        left: 38%;
        transform: translate(-38%, -99%);
        position: absolute;
        text-align: center;
        font-size: 1em;
        width: 250px;
    }
    form
    {
        width: 100%;
        margin-left: 30px;
    }
    input 
    {
        margin: 20px;
        margin-left: 6.5px;
    }
    .btn2
    {
        margin-top: none;
        margin-left: 9px;
    }
    .btn3
    {
        margin-left: 9px;
    }
    .registry
    {
        width:100%;
    }
    .login
    {
        width: 100%;
    }

    .post, .key
    {
        margin-left: 6.5px;
    }

    .forgot
    {
        position: absolute;
        width: 150px;
        float: right;
        font-size: 1.1em;
        text-align: center;
        top: 71.5%;
        left: 75%;
        transform: translate(-75%, -71.5%);
        cursor: pointer;
    }
}
 
@media screen and (max-width: 320px)
{
    #text1
    {
        width: 100%;
        font-size: 28px;
        text-align: center;
        font-size: 2.5em;
    }
    #text2
    {
       width: 100%;
       font-size: 23.5px;
       text-align: center;
       position: absolute;
       float: left;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    .text3
    {
        width: 100%;
        margin-left: 6.5px;
    }
    .text4
    {
        margin-left: 6.5px;
    }
    .mod
    {
        height: 500px;
        width: 100%;
        position: absolute;
      
    }
    .pic
    {
        visibility: hidden;
    }

    .pic
    {
        visibility: hidden;
    }
    #log 
    {
        margin-right: 20px;
    }
    #log2 
    {
        text-align: center;
        position: absolute;
        float: right;
        margin-top: 35px;
        font-size: 2em;
        cursor: pointer;
        float: left;
        left: 48%;
        top: 82%;
        transform: translate(-48%, -82%);
    }
    #info 
    {
        float: left;
        top: 99%;
        left: 38%;
        transform: translate(-38%, -99%);
        position: absolute;
        text-align: center;
        font-size: 1em;
        width: 250px;
    }
    form
    {
        width: 100%;
        margin-left: 5px;
    }
    input 
    {
        margin: 20px;
        margin-left: 6.5px;
    }
    .btn2
    {
        margin-top: none;
        margin-left: 10px;
    }
    .btn3
    {
        margin-left: 10px;
    }
    .registry
    {
        width:100%;
    }
    .login
    {
        width: 100%;
    }

    .post, .key
    {
        margin-left: 6.5px;
    }

    .forgot
    {
        position: absolute;
        width: 150px;
        float: right;
        font-size: 1.1em;
        text-align: center;
        top: 71.5%;
        left: 95%;
        transform: translate(-95%, -71.5%);
        cursor: pointer;
    }
}